services:
  frontend:
    image: miguelg97/macrobimadoption:frontend-latest
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    networks:
      - public
    depends_on:
      - backend
  backend:
    image: miguelg97/macrobimadoption:backend-latest
    environment:
      NODE_ENV: production
      POSTGRES_PRISMA_URL: postgres://postgres:postgres@db:5432/macrobimadoptiondb?schema=public
    ports:
      - 3000:3000
    networks:
      - public
      - private
    depends_on:
      - db
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: macrobimadoptiondb
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - private
  # nginx:
  #   image: miguelg97/macrobimadoption:nginx-latest
  #   ports:
  #     - 80:80
  #     - 443:443
  #   networks:
  #     - public
  #   depends_on:
  #     - frontend
  #     - backend
  #   volumes:
  #     - /etc/letsencrypt:/etc/letsencrypt:ro # Mount SSL certificates as read-only
networks:
  public:
  private:
volumes:
  pg_data:
